{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3">
        <div class="card mb-3">
          <div class="card-body text-center pt-5">
            <img src="../static/check.png" class="mb-3" width="65" alt="">
            <h2 class="h3 card-title mt-4 mb-2">Отправлено!</h2>
            <p>Скоро мы вам перезвоним</p>
          </div>
          <hr />
          <div class="card-body mx-5">
            <p><b>Тема:</b> Пробный урок</p>
            <p><b>Дата:</b> {{ week_days_ru_dict[clientWeekday] }}, {{ clientTime }}</p>
            <p><b>Имя:</b> {{ clientName }}</p>
            <p><b>Телефон:</b> {{ clientPhone }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
