{% extends "base.html" %}
{% block main %}
    <main class="container mt-3">
        {% for goal_key,goal_value in goals.items() %}
        {% if goal_key == goal_name %}
        <!-- <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br />Преподаватели <br>  для переезда</strong></h1> -->
        <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>{{ emoji_dict[goal_name] }}<br />Преподаватели<br>{{ goal_value|lower }}</strong></h1>

        {% include './goals_buttons.html' %}

        {% endif %}
        {% endfor %}
        
        {% for teacher in teachers: %}
          {% if goal_name in teacher['goals']: %}
          <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 m-auto">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                    <div class="col-9">
                      <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                      <h2 class="h4">{{ teacher.name }}</h2>
                      <p>{{ teacher.about }}</p>
                      <a href="/profiles/{{ teacher.id }}/" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информацию и расписание</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <h2 class="text-center mt-5 mb-3">Не нашли своего репетитора?</h2>
        <p class="text-center mb-4">Расскажите, кто вам нужен и мы подберем его сами</p>
        <div class="text-center pb-5">
            <a href="request.html" class="btn btn-primary">Заказать подбор</a>
        </div>
      </main>
{% endblock %}
