<div class="text-center mb-5">
    <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
    {% for goal_key, goal_value in goals.items() %}
    <a href="/goals/{{ goal_key }}/" class="btn btn-outline-secondary">{{ emoji_dict[goal_key] }} {{ goal_value }}</a>
    <!--
    <a href="goal.html" class="btn btn-outline-secondary">⛱Для путешествий</a>
    <a href="goal.html" class="btn btn-outline-secondary">🏫 Для школы</a>
    <a href="goal.html" class="btn btn-outline-secondary">🏢 Для работы</a>
    <a href="goal.html" class="btn btn-outline-secondary">🚜 Для переезда</a>
    -->
    {% endfor %}
    </div>
</div>
